# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.resharper
*.privatesubscriptions
*.vspscc
*.vssscc
*.bak
*.cache
*.nupkg
*.openedbyhomedev
*.log

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Aa]rm64/
[Aa]rm/
[Xx]64/
[Xx]86/
[Aa]ny[Cc]pu/

# Packages
packages/
*.nupkg
project.lock.json

# Rider
.idea/

# Dotnet tool restore
.config/dotnet-tools.json